body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: black;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 10px;
}

.box-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 10px;
  perspective: 1000px;
  border: 2px inset #607D8B;
  border-radius: 15px;
  text-align: center;
  background: rgba(82, 82, 82, 0.432);
  color: #E0E0E0;
}

.box-container h3 {
  margin: 0 0 10px 0;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #607D8B;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #567280;
}

header, footer {
  z-index: 1; 
}
.controls {
  position: absolute;
  bottom: 55px; /* distancia desde el footer */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* apila los elementos verticalmente */
  align-items: center;    /* centra horizontalmente */
  gap: 10px;              /* espacio entre botones y slider */
  z-index: 5;
}

button, input[type="range"] {
  width: 150px; /* opcional, para que tengan el mismo ancho */
}

label {
  color: #E0E0E0;
}